body{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/Images/pizza-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    overflow-y: hidden;
    
}
nav{
    position: sticky;
    height: 13vh;
    width: 100%;
    background-color: transparent;
    transition: 0.3s ease;

}
.nav_header {
    display: grid;
    grid-template-columns: 5fr 1fr 1fr 1fr 1fr 1fr;
    margin-left: 20%;
    margin-right: 20%;
    height: 13vh;
    background-color: transparent;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;
    font-size: 20px;
    align-items: center;
    text-align: center;
    text-shadow: 1px 1px 4px #000;
    transition: transform 0.3s ease, background-color 0.3s ease;
}
nav.hidden{
    background-color: white;
    height: 8vh;
}
.nav_header.hidden{
    color: black;
    text-shadow: 1px 1px 4px #2c2c2c;
    height: 6vh;
    
}
.nav_header.hidden .links a,.nav_header.hidden .reservation{
    color: black;
    text-decoration: none;
    position: relative;
    display: inline-block;
    align-items: center;
    text-align: center;
    bottom: 8px;
}
.nav_header.hidden .Logo{
    margin-top: 10px;
}
.nav_header a{
    text-decoration: none;
    color: white;
}

.Logo{
    text-align: left;
    font-size: 24px;
}
.reservation{
    background-color: orange;
    font-size: 25px;
    padding: 10px 30px 10px 30px;
    border-radius: 30px;
}
.MainPart{
    text-shadow: 1px 1px 4px #000;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
    height: 100vh;
}

.MainPage, .SecondDiv{
    display: grid;
    grid-template-columns: 2fr 2fr;
    color: white;
    margin-left: 20%;
    margin-right: 20%;
    height: 100vh;
    text-align: left;
    scroll-snap-align: start;
    z-index: 1;
}
.MainPage div {
    padding-top: 20%;
    display: flex;
    flex-direction: column;

    
}
.MainPage div .reservation{
    width: max-content;
    float: right;
    align-items: center;
    justify-content: center;
}
.active {
    background-color: rgb(58, 57, 57);
    transition: 0.2s;
}
.reservation a {
    color: white;
    text-decoration: none;
}
.links a {
    color: white;
    text-decoration: none;
    position: relative;
    display: inline-block;
}

.links a::before {
    content: '';
    position: absolute;
    width: 0;
    height: 5px;
    bottom: -5px;
    left: 0;
    background: linear-gradient(to right, rgb(36, 175, 36), rgb(54, 3, 3));
    visibility: hidden;
    transition: all 300ms ease-in-out;
}

.hovered a::before {
    visibility: visible;
    width: 100%;
}

.SecondPage, .ThirdPage{
    height: 100vh;
    width: 100%;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/Images/SecondPart.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;

}
.SecondPage .MainPage, .ThirdPage .MainPage{
    align-items: center;
    padding-top: 0;
    height: 100vh;
}
.ThirdPage {
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/Images/ThirdPart.jpg');
    scroll-snap-align: none;
}
.MainPart.FooterMain{
    scroll-snap-type:none;
}
.footerMain{
    padding-left: 20%;
    padding-right: 20%;
    height: 30vh;
    background-color: grey;
    color: rgba(255, 255, 255, 0.945);
    scroll-snap-type:y mandatory;
    scroll-snap-align: start;
}
.footerContent{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 2fr;
    align-items: center;
    text-align: left;

}
.social-icons{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 5px;
}
.fa {
    color: white;
    padding: 20px;
    font-size: 30px;
    width: 30px;
    text-align: center;
    text-decoration: none;
    border-radius: 50%;
    padding: 10;
  }
.fa:hover {
    opacity: 0.7;
}
.fa-facebook{
    background: #3B5998;
    
  }
.fa-twitter{
    background: #55ACEE;
  }
.fa-instagram{
    background: #125688;
}
.footer-section{
    padding-left: 50px;
}
.footer-section ul{
    list-style-type: none;
    padding: 0;
    
}
.About , .Menu, .Contact{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/Images/pizza-Background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position-y: -400px;
    background-size: 200vh 100vh;
    height: 100vh;
    margin: 0;
    overflow-y: scroll;
    scroll-snap-type: none;
    scroll-behavior: smooth;
}

.About .nav_header{
    background-color: transparent;
}
.About .nav_header.hidden{
    position: fixed;
}
#about{
    height: 30vh;
    display: flex;
    font-size: 50px;
    color: white;
    justify-content: center;
    align-items: center;
}
.aboutContainer{
    background-color: white;
    color: black;
}
.aboutText{
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    height: 40vh;
    padding: 2%;
    font-family:Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    
}
.aboutText div{
    width: 33%;
    padding: 15px;
    text-align: left;
    font-style: italic;
    font-size: 20px;
    
}
.aboutText div span{
    font-size: 30px;
    margin-bottom: 20px;
}

.ImgButtons{
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
}
.ImgButtons #reservationButton, .ImgButtons #MenuButton{
    display: flex;
    width: 100%;
    height: 30vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/Images/SecondPart.jpg');
    background-size: cover;
    justify-content: center;
    align-items: center;
}
.ImgButtons #MenuButton{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/Images/ThirdPart.jpg');
    background-size: cover;
}
.ImgButtons .reservation{
    font-size: 40px;
}
.Menu{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/Images/ThirdPart.jpg');
}
.MainMenu{
    background-color: white;
    padding-left: 30%;
    padding-right: 30%;
    padding-top: 5%;
    padding-bottom: 5%;
}
.MenuP{
    display: grid;
    grid-template-columns: 5fr 1fr;
    border-bottom: 1px dashed black;
    
}
#MenuName{
    align-items: center;
    justify-content: center;
    font-weight: 800;
    font-size: 25px;
    margin-bottom: 0px;
}
#MenuPrice{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 25px;
    margin-bottom: 0px;
}
#MenuIngredients{
    font-size: 20px;
    margin-bottom: 45px;
}
.resrvationDiv{
    visibility: hidden;
}
.resrvationDiv.Active{
    visibility:visible;
    position: fixed;
    background-color: rgba(0, 0, 0, 0.5);
    color: black;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vw;
    z-index: 99999;
}
.ResContainer{
    margin: 10vh;
    padding-top: 30px;
    left: 29%;
    position: fixed;
    width: 30%;
    height: 47vh;
    border: 0;
    background-color: rgb(235, 235, 235);
    border-radius: 15px;
}
.ResContainer div {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 25px;
}
.ResContainer #submit,  .ContactGrid #submit{
    display: flex;
    margin-left: 45px;
    font-size: 25px;
    width: 120px;
    height: 50px;
    justify-content: center;
    align-items: center;
    background-color: rgb(185, 91, 53);
    border: 0;
    color: white;
    border-radius: 25px ;

}
#close{
    position: fixed;
    right:0;
    top: 0;
    background-color: transparent;
    color: white;
    border: none;
}
#ReservInput, #ReservTextarea{
    width: 80%;
    height: 20px;
    font-size: 18px;
    padding: 10px;
    background-color: lightgray;
    border: 0px;
    border-radius: 25px;
    color: #2c2c2cd0;
}
#ReservTextarea{
    height: 120px;
}
.Contact{
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('/src/Images/SecondPart.jpg');
}
.ContactPage{
    background-color: white;
    height: 80vh;
    width: 100%;
}
.ContactGrid{
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding-top: 5%;
    margin-left: 20%;
    margin-right: 20%;
    height: 70vh;
}
.ContactGrid .footer-section{
    font-size: 30px;
}
.ContactGrid .footer-section ul, .ContactGrid form{
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-top: 10%;
}




